<app-card>
    <app-card-header>
        <app-card-header-title text="Cartão de Crédito" icon="icon-credit-card.png" />
    </app-card-header>

    <app-card-content>
        <div appCardItem>
            <p>1234567891011 <br /> PEDRO HENRIQUE PEREIRA ALMEIDA</p>
            <p>MASTER CARD</p>
        </div>

        <app-card-item leftContent="Limite de Compra" rightContent="R$ 1.000,00" />
        <app-divider />

        <app-card-item leftContent="Disponível" rightContent="R$ 1.200,00" />
        <app-card-item leftContent="Limite de Saque" rightContent="R$ 2.000,00" />
        <app-divider />

        <app-card-item leftContent="Disponível" rightContent="R$ 1.300,00" />
        <app-card-item leftContent="Limite Total Utilizado" rightContent="R$ 3.000,00" />
    </app-card-content>
</app-card>