<app-card>
    <app-card-header-dir>
        <app-card-header-title text="Saldos Disponíveis" icon="icon-hand.png" />
        <p class="balance-card__header-value">{{ totalBalanceValue | currency: "BRL": 'symbol' : '1.2-2' }}</p>
    </app-card-header-dir>

    <app-card-content>
        <app-card-item leftContent="Conta Corrente" [rightContent]="ccValue" />
        <div class="ca-c-divider"></div>

        <app-card-item leftContent="Conta Corrente Saldo Vinculados" [rightContent]="linkedBalanceCC" />
        <div class="ca-c-divider"></div>

        <app-card-item leftContent="Conta Poupança Saldo Vinculados" [rightContent]="linkedBalanceSA" />
        <div class="ca-c-divider"></div>

        <app-card-item leftContent="Investimentos com Baixa Automática" [rightContent]="automaticWithdrawal" />
        <div class="ca-c-divider"></div>

        <app-card-item leftContent="Investimentos sem Baixa Automática" [rightContent]="noAutomaticWithdrawal" />
        <div class="ca-c-divider"></div>

        <div class="balance-card__content-summary">
            <app-card-item leftContent="SALDO TOTAL" [rightContent]="totalBalance" />
            <app-card-item leftContent="LIVRE PARA MOVIMENTAÇÃO" [rightContent]="freeMovement" />
        </div>
    </app-card-content>
</app-card>