<div class="ca-c-card">
    <app-card-header
        icon="../assets/icons/icon-hand.png"
        title="Saldos Disponíveis"
        [value]="100">
    </app-card-header>

    <div class="ca-c-card__content">
        <div *ngFor="let balance of availableBalances">
            <div class="balance-card__content-item">
                <p>{{ balance.display }}</p>
                <p>{{ balance.value | currency: "BRL": 'symbol' : '1.2-2' }}</p>
            </div>
            <div class="ca-c-divider"></div>
        </div>

        <div class="balance-card__content-summary">
            <div class="balance-card__content-item" *ngFor="let total of summary">
                <p>{{ total.display | uppercase }}</p>
                <p>{{ total.value | currency: "BRL": 'symbol' : '1.2-2' }}</p>
            </div>
        </div>
    </div>
</div>