<app-card>
    <app-card-header-dir>
        <app-card-header-title text="Meu Novo Card" icon="icon-hand.png" />
        <p class="new-card__header-value">R$ 100,00</p>
    </app-card-header-dir>
    <app-card-content>
        <div appCardItem>
            <p>Meu novo card com valor</p>
            <p>R$ 150,00</p>
        </div>
        <div class="ca-c-divider"></div>
        <div appCardItem>
            <p>Meu novo card com valor</p>
            <p>R$ 150,00</p>
        </div>
        <div class="ca-c-divider"></div>
        <div appCardItem>
            <p>Meu novo card com valor</p>
            <p>R$ 150,00</p>
        </div>
    </app-card-content>
</app-card>