.header {
    padding: 15px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    p {
        font-size: 20px;
    }

    &__title {
        display: flex;
        align-items: center;
        margin-right: auto;

        h1 {
            font-size: 20px;
        }
    }

    &__icon {
        width: 40px;
        margin-right: 10px;
    }
}