<div class="ca-c-card">
    <app-card-header bgColor="#32e9da">
        <app-card-header-title text="Informações do Cliente" icon="icon-client.png" />
    </app-card-header>

    <app-card-content>
        <app-card-item leftContent="Nome" rightContent="Pedro Henrique Pereira Almeida" />
        <app-divider />

        <app-card-item leftContent="Idade" rightContent="23 anos" />
        <app-divider />

        <app-card-item leftContent="Renda Mensal" rightContent="R$ -1,000.00" />
        <app-divider />

        <app-card-item leftContent="Nacionalidade" rightContent="Brasileiro" />
    </app-card-content>
</div>