<div class="ca-c-card">
    <app-card-header
        icon="../assets/icons/icon-client.png"
        title="Informações do Cliente"
        bgColor="#32e9da">
    </app-card-header>

    <div class="ca-c-card__content">
        <div *ngFor="let info of clientInfos; let isLast = last">
            <div class="client-infos-card__content-item">
                <p>{{ info.label }}</p>
                <p>{{ info.value }}</p>
            </div>
            <div class="ca-c-divider" *ngIf="!isLast"></div>
        </div>
    </div>
</div>